nav{
    background-color: #3a3861;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background:linear-gradient(to right, #393c40 0% ,#3a3861 0%, #dcc6eb 100%); */
}
/* nav.left img{
    width: 100px;
} */
/* nav{
	background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url('../assets/pic4.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;

} */

nav:before{
	content: "";
	position:absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right:0;
	opacity: 0.3;
	z-index: -1;
	/* background:linear-gradient(to right, #393c40 0% ,#3a3861 0%, #dcc6eb 100%); */
}

nav .right button{
    /* background-color: #3b1c5c; */
    /* border: 2px solid white; */
    color: white;
    font-weight: 600;
    padding:5px 10px;
    margin:0px 10px;
    border-radius: 20px;
    align-items: center;
    width: 90px;

}
nav .right button:hover{
    background-color: #fff;
    color:#3a3861;
}
.nav-prifile-pic{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    
}
.nav hr{
    border: none;
    border-top: 1px solid rgb(87, 22, 107);
}
.center{
    display: flex;
    width: 400px;
}
.search-user{
    border: 2px solid #3b1c5c;
    padding: 0px 10px;
    border-radius: 10px;
    width: 100%;
}
.logo{
    width: 30px;
    height: 30px;
}
.left{
    display: flex;
}
.logoText{
    margin: 13px 0px  0px 10px;
    font-size: 20px;
    color: #fff;
}

nav{
    background-color: #3a3861;
}
.nav1{
    display: flex;
    width: 600px;
    justify-content: end;
}
.nav1 button{
    border: none;
    background-color: #3a3861;
}
.nav1 button:hover{
    color: #fff;
}

nav .right{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.right p{
   color: #fff;
   margin: 7px 10px 0px 0px;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 5px 10px 0px 10px;
    font-size: 18px;
    font-weight: 400;
}
nav a:hover{
    color:#fff;
}
nav button{
    background-color: #3a3861;
    border: none;
    margin-bottom: 10px;
    padding: 0px;
    
}
nav .user{
    display: flex;
}