@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
    color: rgb(47, 18, 83);
    font-family: 'Times New Roman', Times, serif;
    /* font-family: 'Open Sans', sans-serif;
    font-weight: 500; */
    
}

button{
    background-color: #2f2d52;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    padding:5px 10px;
    margin:0px 10px;
    border-radius: 5px;
}
button:hover{
    background-color: #fff;
    color:#2f2d52;
    cursor: pointer;
}
.success-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: green;
}
.error-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: red;
}