*{
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: rgb(47, 18, 83);
    font-family: 'Times New Roman', Times, serif;
    
}

button{
    background-color: #3b1c5c;
    border: 2px solid white;
    color: white;
    font-weight: 600;
    padding:5px 10px;
    margin:0px 10px;
    border-radius: 5px;
}
button:hover{
    background-color: #fff;
    color: #3b1c5c;
    cursor: pointer;
}
.success-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: green;
}
.error-msg{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: red;
}